* {
    box-sizing: border-box;
}

form {
    width: 70%;
    margin: 0 auto;
    background-color: #2d1942;
    border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #fff;
}

label {
    color: #fff;
    margin-bottom: 5px;
    text-align: start;
}

div {
    display: flex;
    position: relative;
}

input {
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    color: #090404;
    padding: 10px;
}

button {
    height: 60px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: #58c958;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #3b843b;
    color: #fff;
}

p {
    color: #7fffd4;
    cursor: pointer;
    transition: 0.2s;
}

p:hover {
    text-decoration: underline;
}

p.error {
    color: red;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    right: 5%;
}

