.box {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.logout {
    display: block;
    margin: 20 auto 0;
    width: 100%;
}